/* google font import */

@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

body, html {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Gideon Roman', cursive;
}

main {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center;
    text-align: center;
    min-height: 100%;
}

header {
    text-align: center;
    background-color: aqua; 
    min-height: 20px;
    width: 100%;
}

section {
    flex: 1 0 auto;
    background-color: azure; 
}

footer {
    flex: 0 0 600px;
    background-color: purple;
}